.form__error {
    display: block;
    min-height: 34px;
    color: red;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    opacity: 0;
}