@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/user/user.css);
@import url(../blocks/user/__profile/user__profile.css);
@import url(../blocks/user/__name/user__name.css);
@import url(../blocks/user/__info/user__info.css);
@import url(../blocks/user/__image/user__image.css);
@import url(../blocks/user/__image-overlay/user__image-overlay.css);
@import url(../blocks/user/__change-button/user__change-button.css);
@import url(../blocks/user/__add-button/user__add-button.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__like/place__like.css);
@import url(../blocks/place/__like-counter/place__like-counter.css);
@import url(../blocks/place/__like-container/place__like-container.css);
@import url(../blocks/place/__like/_active/place__like_active.css);
@import url(../blocks/place/__info/place__info.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__trash/place__trash.css);
@import url(../blocks/place/__trash/place__tarsh_inactive.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_active/popup_active.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__open-image/popup__open-image.css);
@import url(../blocks/popup/__image-title/popup__image-title.css);
@import url(../blocks/popup/__main-image/popup__main-image.css);
@import url(../blocks/popup/_type/popup_type_open-image.css);
@import url(../blocks/popup/_type/popup_type_card.css);
@import url(../blocks/popup/__button-confirm/popup__button-confirm.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__input/_type/form__input_type_error.css);
@import url(../blocks/form/__submit/form__submit.css);
@import url(../blocks/form/__submit/_inactive/form__submit_inactive.css);
@import url(../blocks/form/__error/form__error.css);
@import url(../blocks/form/__error/_visibility/form__error_visible.css);
@import url(../blocks/popup/__close/popup__close.css);

body {
    background-color: #000;
}